html {
  font-family: "Jost", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: gray;
}

main {
  width: 100%;
  display: block;
}

.side-bar {
  width: 15%;
  height: 100%;
  background-color: rgb(113, 121, 110);
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 1px 1px 5px black;
}

.side-bar-name {
  text-align: center;
  padding: 1rem 0;
  font-size: 1.25rem;
  padding-top: 2.5rem;
  line-height: 1.4;
}

.side-bar-name h2 {
  font-weight: 700;
}

.side-bar-name h3 {
  font-weight: 400;
}

.side-bar-options-sub {
  /* display: flex;
  justify-content: center;
  height: 60%;
  align-items: center; */
}

.side-bar-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-start;
  padding-top: 5rem;
}

.side-bar-options ul li {
  padding: 1rem 0;
  font-size: 1.25rem;
}

.side-bar-options ul li:hover {
  animation: rightLeft 0.6s ease-out;
  color: #ffffff;
}

.side-bar-options ul li a:hover {
  color: #ffffff;
}

@keyframes rightLeft {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(5px);
  }
  66% {
    transform: translatex(-2px);
  }
  100% {
    transform: translateX(0);
  }
}

.links {
  width: 100%;
  height: 20vw;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.links-sub {
  width: 30px;
}

.links-sub a {
  width: 40%;
}

.links-sub img {
  width: 30px;
  height: 30px;
}

.github,
.instagram {
  transition: 0.5s ease-out;
}

.github img:hover,
.instagram img:hover,
.linkedin img:hover {
  animation: github 0.5s ease-in-out;
}

@keyframes github {
  0% {
    width: 30px;
    height: 30px;
    /* transform: rotate(0deg); */
  }
  33% {
    width: 35px;
    height: 35px;
    transform: rotate(0.05turn);
  }
  66% {
    width: 35px;
    height: 35px;
    transform: rotate(-0.05turn);
  }
  100% {
    width: 30px;
    height: 30px;
    transform: rotate(0turn);
  }
}

/* Main Top Section  */

.main {
  height: 3000px;
  width: 85%;
  float: right;
}

.main-home {
  background-image: url("./images/pakata-goh-EJMTKCZ00I0-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vw;
}

.dark-background {
  background-color: black;
  opacity: 0.4;
  width: 100%;
  height: 100vw;
}

.site-about-content {
  background-color: white;
  text-align: center;
}

.side-bar-img img {
  width: 90%;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  padding-bottom: 0.5rem;
}

.site-about-text-section {
  margin: 0 auto;
  padding-top: 3rem;
  text-align: justify;
}

.site-about-text-section h2 {
  font-size: 1.75rem;
  font-weight: 500;
  text-align: center;
}

.site-about-text-section p {
  font-size: 1.375rem;
  padding-top: 1rem;
}

.description-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 100%;
  margin: 0 auto;
}

.description-options h3 {
  font-weight: 400;
  text-align: center;
  margin-top: 30px;
}

.btn-section {
  width: 35%;
  margin: 0 auto;
}

.radio-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 50px;
  margin-top: 8px;
}

.radio-btn-each {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.bio-length-words {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.bio-length-words p {
  padding-top: 0;
}

#demo {
  margin-bottom: 20px;
}

#text {
  height: 110px;
}

.about-me {
  padding-bottom: 20px;
  width: 80%;
  margin: 0 auto;
}
